<div class="outset">
  <div>
    <% form_tag [:admin, 'news_entries'], :method => :get, :html => { :multipart => true } do |form| -%>
      <label for="category_id"><%= t('news_search_label_headline') %></label>
      <%= text_field_tag :headline_text, request[:headline_text] %>
    
      <label for="category_id"><%= t('news_search_label_category') %></label>
      <%= select_tag :category_id, '<option value="0">' + t('news_search_category_select') + '</option>' + options_from_collection_for_select(@news_categories, 'id', 'name', Integer(params[:category_id])), :class => 'textarea' %>
      <input type="submit" value="Filtrar" />
    <% end -%>
  </div>
  <table class="index" id="site_map" summary="list of book authors">
    <thead>
      <tr>
        <th width="30" class="layout"></th>
        <th class="layout"><%= t('news_list_name') %></th>        
        <th class="modify"><%= t('news_list_start') %></th>
        <th class="modify"><%= t('modify') %></th>
      </tr>
    </thead>
    <tbody>
    <% if @news_entries.any? -%>
      <% @news_entries.each do |news| -%>
      <tr class="node level_1">
        <td class="layout">
          <%= news.id %>
        </td>
        <td class="layout">
          <%= link_to news.headline, edit_admin_news_entry_url(news) %>
        </td>
        <td class="layout">
          <%= news.start %>
        </td>
        <td class="remove">
          <%= link_to t('remove'), remove_admin_news_entry_url(news), :class => "action"  %>
        </td>
      </tr>
      <% end -%>
    <% else -%>
      <tr class="node level_1">
        <td colspan="3">
          <%= t('news_list_empty') %>
        </td>
        <td class="remove"></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  
  <div id="pagination" style='margin: 10px'>
    <%= will_paginate @news_entries %>
  </div>

  <div id="actions">
    <ul>
      <li>
        <%= link_to image('plus') + " " + t('news_add'), new_admin_news_entry_url %>
      </li>
    </ul>
  </div>
</div>