<div class="outset">
  <table class="index" id="site_map" summary="list of book authors">
    <thead>
      <tr>
        <th class="layout"></th>
        <th class="layout"><%= t('news.galleries.items.list.description') %></th>
        <th class="layout"><%= t('news.galleries.items.list.gallery') %></th>
        <th class="modify" colspan="2"><%= t('modify') %></th>
      </tr>
    </thead>
    <tbody>
    <% if @news_gallery_images.any? -%>
      <% @news_gallery_images.each do |item| -%>
      <tr class="node level_1">
        <td class="layout">
          <%= image_tag item.photo.url(:small) %>
        </td>
        <td class="layout">
          <%= link_to item.description, edit_admin_news_gallery_image_url(item) %>
        </td>
        <td class="layout">
          <%= item.news_folder.name %>
        </td>
        <td class="remove">          
          <%= link_to t('remove'), remove_admin_news_gallery_image_url(item), :class => "action"  %>
        </td>
      </tr>
      <% end -%>
    <% else -%>
      <tr class="node level_1">
        <td colspan="4">
          <%= t('news.galleries.items.list.empty') %>
        </td>
        <td class="remove"></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  
  <div id="pagination" style='margin: 10px'>
    <%= will_paginate @news_gallery_images %>
  </div>

  <div id="actions">
    <ul>
      <li>
        <%= link_to image('plus') + " " + t('news.galleries.items.buttons.add'), new_admin_news_gallery_image_url %>
      </li>
    </ul>
  </div>
</div>
