<h1><%= t('news.documents.title.remove') %></h1>

<p><%= t('news.documents.messages.remove') %></p>

<table class="index" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr class="node level-1">
      <td class="news">
        <%= @news_document.description %>
      </td>
    </tr>
  </tbody>
</table>

<% form_for [:admin, @news_document], :html => { :method => 'delete' } do %>
  <p class="buttons">
    <input class="button" type="submit" value="<%= t('news.documents.buttons.remove') %>"/>
    <%= t('or') %>
    <%= link_to t('cancel'), admin_news_documents_url %>
  </p>
<%- end -%>
