<h1><%= t('news_categories_index_title') %></h1>
<% if @news_categories.blank? %>
  <p><%= t('news_categories_list_empty')%></p>
<% else %>
<u1>
    <table  class="index" >
       <% @news_categories.each do |category| %>
       <tr  class="node level-0">
         <td class="page"><%= link_to  category.name, { :action => 'edit', :id => category.id } %></td>
         <td class="remove"><%= link_to image('remove', :alt => t('news_link_remove_category_alt')), remove_admin_news_category_url(:id => category.id) %></td>
       </tr>
      <%end%>
    </table>
</u1>
<div id="pagination" style='margin: 10px'>
<%= will_paginate @news_categories %>
</div>
<%- end %>

<%#= ActionController::Base.instance_methods.sort.join("\n") %>

<%= link_to t('news_categories_add'), { :action => 'new' } %>