<% form_for [:admin, @gallery_item], :html => { :multipart => true } do |form| %>
  <div class="form_area">
    <p class='lable'>
      <%= form.label :description, t('news_gallery_item_form_label_description') %>
      <%= form.text_field :description, :class => 'textbox', :maxlength => 255, :style => "width: 100%" %>
    </p>
    <p>
      <%= form.label :gallery_id, t('news_gallery_item_form_label_gallery') %>
      <%= form.select :gallery_id, Gallery.find(:all, :order => 'name').collect { |i| [i.name, i.id] } %>
    </p>
    <p class='label'>
      <%= form.label :photo, t('news_gallery_item_form_label_photo') %>
      <%= form.file_field :photo %>
    </p>  
    <p>
      <%= image_tag @gallery_item.photo.url(:medium) if @gallery_item.photo.file? %>
    </p>

    <p class="buttons">
      <%= save_model_button @gallery_item %>
      <%= save_model_and_continue_editing_button @gallery_item %>
      <%= t('or') %>
      <%= link_to t('cancel'), admin_gallery_items_url %>
    </p>
  </div>
<% end %>
